torch~=2.8.0+cu129
flash-attn~=2.7.4.post1
python-dotenv~=1.0.1
pymilvus~=2.6.6
transformers~=4.57.6
pydantic~=2.12.5
langchain-core~=1.2.5
langchain-openai~=1.1.6
html2text~=2025.4.15
beautifulsoup4~=4.12.3
langchain-experimental~=0.3.4
huggingface-hub~=0.36.0
requests~=2.32.5
urllib3~=2.6.2
aiohttp~=3.13.3
numpy~=1.26.4
python-docx~=1.1.2
langgraph~=1.0.5
mcp~=1.25.0
psycopg~=3.3.2